<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
 
 
body {
  background-image: url("https://image.jimcdn.com/app/cms/image/transf/dimension=2048x2048:format=jpg/path/s58533671353ad46c/image/i26b4fe8e5d66209c/version/1483913286/image.jpg");
  background-repeat: no-repeat, repeat;
  
 
}
table
{

opacity: 0.9;
}

td{
   font-size: 18px;
   font-weight: bold;
}
footer {
  display: block;
}
</style>
<meta charset="ISO-8859-1">
<title>List de Factures</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>
<body>
 
  <div class="container pt-4">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <a class="navbar-brand" href="#">PHARMA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Acceuil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" th:href="@{'/'}">Client<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"th:href="@{'/medicament'}">Medicament<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"th:href="@{'/commande'}">Commandes<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"th:href="@{'/facture'}">Facturations<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
  
  
  <div class="d-flex justify-content-center my-4">
  <div class="p-2"> 
  <form th:action="@{/}">
  
     <div class="input-group ">
            <input type="search" class="form-control rounded" th:value="${keyword}" required placeholder="Chercher Like..." aria-label="Search"
              aria-describedby="search-addon" />&nbsp;&nbsp;
            <button type="button" class="btn btn-primary">Chercher</button>
     </div>
    </form>
  </div>
  <div class="p-2"> 
  <a href="new"> <button type="button" class="btn btn-primary"><i class="fas fa-plus"></i></button></a>
     
  </div>

 
 
 </div>
   
   
   
  
    
 
  
  <!--Table-->
         
          
          <table class="table table-primary my-4" >
         
          <!--Table head-->
          <thead>
           
            <tr>
             
              <th>Num</th>
              <th>Date</th>
              <th>Tva</th>
              <th>Client</th>
              
            </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
          <th:block th:each="facture : ${listfactures}" >
            <tr class="table-info">
              <td>[[${facture.num}]]</td>
              <td>[[${facture.date}]]</td>
              <td>[[${facture.tva}]]</td>
              <td>[[${facture.client.nom}]]</td>
                       
              <td> 
                  <a class="fas fa-edit" th:href="@{'/facture/edit/' + ${facture.num}}"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <a class="fas fa-trash-alt" th:href="@{'/facture/delete/' + ${facture.num}}"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <a class="fas  fa-plus" th:href="@{'/facture/new/'}"></a>
                  
			  </td>
			</tr> 
		</th:block >
                   
           
          </tbody>
          <!--Table body-->

      
        </table>
        <!--Table-->
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- Footer -->
       <footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="http://bentouis.com/">	bentouis.com</a>
  </div>
  <!-- Copyright -->
</footer>
        <!-- Footer -->
  
  </div>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 <script src="https://use.fontawesome.com/14816e072d.js"></script>
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>